.content-header
  %h1= t('.title')

.page-content.inset
  = form_tag(make_report_admins_service_survey_reports_path, method: "get") do
    .form-group.col-md-12
      .row
        .col-md-6.texto-right
          %h2= t('.subtitle')
        .col-md-6
          = select("post", "predetermined", service_reports.collect {|opt| [opt[:label], opt[:id]]}, { prompt: t('form.labels.admin.criterion_select') }, class: 'chosen-select ')
    .form-group.col-md-12
      .row
        .col-md-4
          = text_field "post", "start_date", placeholder: t('.start_date'), class: 'datepicker form-control '
        .col-md-4
          = collection_select "post", "services", Service.active,:id,:name,{ include_blank: t('form.labels.admin.service') }, class: 'chosen-select '
        .col-md-4
          = select("post", "cis", service_cis_options.collect {|opt| [opt[:label], opt[:id]]}, { prompt: t('form.labels.admin.cis') }, class: 'chosen-select ')
        
    .form-group.col-md-12
      .row
        .col-md-4
          = text_field "post", "end_date", placeholder: t('.end_date'), class: 'datepicker form-control'
        .col-md-4
          = select_tag "criterio[name]", options_for_select(criterion_options), { prompt: I18n.t("form.options.criterion_select"), class: 'chosen-select ',:multiple=>true}
        .col-md-4
    .form-group.col-md-12
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-md-6
              = submit_tag t('.view'), class: "btn btn-primary half_content"
            .col-md-6
              = submit_tag t('.export'), class: "btn btn-primary half_content"

-unless @grid.nil?
  .content-header
    %h1= t('.title_table')
    =# datagrid_form_for @grid, :method => :get, :url => make_report_admins_service_survey_reports_path
    = paginate(@grid.assets)
    = datagrid_table(@grid,{:html =>{:class=>"datagrid dynamic_reports table"}})
    = paginate(@grid.assets)





:javascript
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);
  
  $(function() {
    $( "#post_start_date" ).datepicker({
    format: 'yyyy-dd-mm',
    startDate: '-3d'
    });
    $( "#post_end_date" ).datepicker({
    format: 'yyyy-dd-mm',
    startDate: '-3d'
    });
  });

