.content-header
  %h2= t('.title')

.page-content.inset
  = form_tag(make_report_admins_service_survey_reports_path, method: "get") do
    .form-group.col-md-12
      .row
        .col-md-6
          reportes predeterminados
        .col-md-6
          = select("post", "criterio", criterion_options, { prompt: I18n.t("form.options.criterion_select")}, class: 'chosen-select')
    .form-group.col-md-12
      .row
        .col-md-4
          = text_field "start_date", "start_date", placeholder: t('.start_date'), class: 'datepicker form-control '
        .col-md-4
          = collection_select "services", "services", Service.active,:id,:name,{ include_blank: t('form.labels.admin.service') }, class: 'chosen-select '
        .col-md-4
          = select("post", "cis", service_cis_options.collect {|opt| [opt[:label], opt[:id]]}, { prompt: t('form.labels.admin.cis') }, class: 'chosen-select ')
        
    .form-group.col-md-12
      .row
        .col-md-4
          = text_field "end_date", "end_date", placeholder: t('.end_date'), class: 'datepicker form-control'
        .col-md-4
          = select_tag "criterion[name]", options_for_select(criterion_options), { prompt: I18n.t("form.options.criterion_select"), class: 'chosen-select ',:multiple=>true}
        .col-md-4
    .form-group.col-md-12
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-md-6
              = submit_tag t('.view'), class: "btn btn-primary half_content"
            .col-md-6
              = submit_tag t('.export'), class: "btn btn-primary half_content"
          


:javascript
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);
  
  $(function() {
    $( "#end_date_end_date" ).datepicker({
    format: 'yyyy-dd-mm',
    startDate: '-3d'
    });
    $( "#start_date_start_date" ).datepicker({
    format: 'yyyy-dd-mm',
    startDate: '-3d'
    });
  });

