= form_for [:admins, @status], html: { role: 'form', class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, t('form.labels.name'), class: 'col-lg-2 control-label'
    .col-lg-6
      = f.text_field :name, class: 'form-control'
      = errors_on_resource_for_field(@status, :name)

  .actions
    = f.submit t('save'), class: 'btn btn-primary'
