.content-header
  %h2= t('.header')

.page-content.inset
  %p
    = t('.secret_token')
    %strong= current_admin.authentication_token
  %p
    - if current_admin.api_key?
      Api Token:
      %strong= current_admin.api_key
    - else
      = link_to t('.generate_key'), admins_api_keys_path, method: :post
