<%= form_for grid, options do |f| -%>
  <% grid.filters.each do |filter| %>
    <div class="datagrid-filter filter">
      <%= f.datagrid_label filter %>
      <%= f.datagrid_filter filter %>
    </div>
  <% end %>
  <div class="datagrid-actions">
    <%# https://github.com/rails/rails/pull/14949 -%>
    <% empty_parameter = Rails.version >= "4.1.0" && Rails.version <= '4.1.2' ? nil : {}-%>
    <%= submit_tag(t('datagrid.form.search').html_safe, class: "btn btn-primary", onClick: "$(this).closest('form').attr('action', '#{ make_report_admins_service_survey_reports_path(format: :html) }')") %>
    <%= submit_tag(t('datagrid.form.export').html_safe, class: "btn btn-primary", onClick: "$(this).closest('form').attr('action', '#{ make_report_admins_service_survey_reports_path(format: :csv) }')") %>
    <%= link_to I18n.t('datagrid.form.reset').html_safe, url_for(grid.to_param => empty_parameter), :class => "datagrid-reset" %>
  </div>
<% end -%>
