.content-header
  %a#menu-toggle.btn.btn-default{href: "#"}
    %i.icon-reorder

  %h1 Admin dashboard

.page-content.inset
  .row.reports-stats{data: { total: Report.count } }
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block
      = @all_reports
      %h3.reports-stats-name Reportes realizados
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block.mid
      = @open_reports
      %h3.reports-stats-name Reportes abiertos
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block
      = @closed_reports
      %h3.reports-stats-name Reportes resueltos

  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title Reportes por categoría
      #reports-chart{ data: { chart_data: @chart_data, category_names: @category_names, status_names: @status_names }}


  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title Mapa de reportes
      = form_tag reports_path, method: :get, class: "filters form-inline" do
        .form-group
          = text_field_tag 'start_date', params[:start_date], placeholder: "De la fecha", class: 'datepicker form-control col-lg-6'
        .form-group.form-group-separator
          = text_field_tag 'end_date', params[:end_date], placeholder: "A la fecha", class: 'datepicker form-control col-lg-6'
        .form-group.form-group-separator
          = select_tag('status_id', options_from_collection_for_select(Status.all, :id, :name, params[:status_id]), prompt: 'Cualquier tipo', class: 'form-control')
        .form-group.form-group-separator
          = select_tag('category_id', options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: 'Todas las categorias', class: 'form-control')
        .form-group
          = submit_tag 'Buscar', class: "btn btn-primary btn-block"


      .map{data_position}
        #reports-map

      = form_tag reports_path, method: :get, class: 'filters form-inline' do
        .form-group.form-group-separator
          = text_field_tag 'report_ids', params[:report_ids], placeholder: 'No. Folio', class: 'form-control'
        .form-group
          = submit_tag 'Buscar', class: "btn btn-primary btn-block"

  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title Reportes recientes
      - unless @reports.empty?
        - @reports.each do |report|
          .recent-report-sum{id: "report_#{report.id}", data: { lat: report.lat, lng: report.lng, description: report_info_window(report) } }
            .row
              .col-md-2.recent-report-sum-date.l-margin-s-bottom
                = timeago(report.created_at)
              .col-md-8.recent-report-sum-info.l-margin-s-bottom
                %h3.recent-report-title
                  = link_to report.category.name, report_url(report), class: "title"
                %span.recent-report-address= " - #{report.address}" if report.address
                %p= report.description
              .col-md-2.text-center.l-margin-s-bottom
                .recent-report-counter.js-votes_count
                  = report.votes_for
                = link_to "Editar reporte", edit_admins_report_path(report), class: 'btn pull-right btn-default btn-xs'
      - else
        .row.report


  = paginate @reports
