.activity.comment
  = image_tag comment.commentable.avatar_url(:thumb), class: "avatar"
  %p= comment.content
  - if comment.image?
    %p
      = link_to comment.image_url, target: '_blank' do
        = image_tag comment.image_url(:comment)
  %p.name= comment.commentable.is_a?(Admin) ? 'Administrador' : comment.commentable.name
  .date
    %i.icon-time
    = comment.created_at.strftime("%d/%m/%Y")
    - if admin_signed_in?
      .destroy_comment
        = link_to 'Eliminar', comment_path(comment), method: :delete
