.activity.comment
  = image_tag comment.commentable.avatar_url, class: "avatar"
  %p= comment.content
  - if comment.image?
    %p
      = link_to comment.image_url, target: '_blank' do
        = image_tag comment.image_url(:comment), class: 'comment-img'
  %p.name= comment.commentable.is_a?(Admin) ? 'Administrador' : comment.commentable.name
  .date
    %i.icon-time
    = comment.created_at.strftime("%d/%m/%Y")
    - if admin_signed_in?
      - if comment.approved && comment.commentable.is_a?(Admin)
        %small.text-success
          %em= t(".approved")
        %span
          |
      - elsif current_admin.is_super_admin? && comment.commentable.is_a?(Admin)
        %small= link_to t('.approve'), approve_comment_path(comment)
        %span
          |
      %small= link_to t('.destroy'), comment_path(comment), method: :delete


