= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-short-stacked' }) do |f|
  %h2 Iniciar sesión
  .other-logins.clearfix.l-margin-m-bottom
    %p.other-logins-registration
      ¿No tienes cuenta?
      = link_to t('.signin'), new_user_registration_path
    %div.social-sign-in
      = link_to user_omniauth_authorize_path(:facebook), class: 'social-signup social-signup-fb l-margin-s-right' do
        %span.i-facebook.rc-icon
        %span.social-signup-text=t('.facebook')
      = link_to user_omniauth_authorize_path(:twitter), class: 'social-signup social-signup-tt' do
        %span.i-twitter.rc-icon
        %span.social-signup-text=t('.twtter')
  = f.email_field :email, autofocus: true, class: 'form-control top-field', placeholder: t('.mail')
  = f.password_field :password, placeholder: t('.password'), class: 'form-control bottom-field'
  - if devise_mapping.rememberable?
    %div
      = f.label :remember_me do
        = f.check_box :remember_me
        =t('.rememberme')
  .actions= f.submit t('.enter'), class: 'btn btn-lg btn-primary btn-block'
