.content-header
  %h1= t('.header')

.page-content.inset
  = form_for [:admins, @admin], url: admins_registration_path, html: { method: :put, role: 'form'}  do |f|

    .form-group
      = f.label :name, t('form.labels.name')
      .row
        .col-lg-6
          = f.text_field :name, autofocus: true, class: 'form-control', placeholder: t('form.labels.name')

    .form-group
      = f.label :avatar, t('form.labels.profile_picture')
      .row
        .col-lg-6
          = image_tag @admin.avatar_url(:thumb), class: 'pull-left l-margin-s-right' if @admin.avatar_url
          = f.file_field :avatar, class: 'pull-left'

    .form-group
      = f.label :email, t('form.labels.email')
      .row
        .col-lg-6
          = f.text_field :email, class: 'form-control', placeholder: t('form.placeholders.email')
          = errors_on_resource_for_field(@admin, :email)
    .actions
      = f.submit t('update'), class: 'btn btn-primary'
