.form-group
  = f.label :title, t('.title'), class: 'col-lg-2 control-label'
  .col-lg-10
    = f.text_field :title, class: 'form-control'

.form-group
  = f.label :image, t('.image'), class: 'col-lg-2 control-label'
  .col-lg-10
    = image_tag(f.object.image.footer_thumb.url) if f.object.image.present?
    = f.file_field :image
    = f.hidden_field :image_cache

.form-group
  .col-lg-offset-2.col-lg-10
    = f.submit t('save'), class: "btn btn-primary"

