.page-header.l-page-header-no-margin
  %h1= t('.header')
.row
  .col-md-12
    = form_for @service_request, html: {class: "form-horizontal", role: 'form'} do |f|
      .form-group
        = f.label :service_id, t('form.labels.service'), class: 'col-md-2 control-label'
        .col-md-10
          = f.select :service_id, Service.all.collect {|p| [ p.name, p.id ] }, { prompt: t('service_requests.form.prompt_service') }, { class: 'js-load_service_fields form-control' ,:onchange=>"changeLine()"}
          = errors_on_resource_for_field(@service_request, :service_id)

      %div#service_fields_container
        = render @service_request.service.service_fields if @service_request.service?

      .form-group
        = f.label :cis, t('form.labels.cis'), class: 'col-md-2 control-label'
        .col-md-10
          %ul.list-unstyled
            - service_cis_options.each_with_index do |cis, index|
              %li
                %label
                  - if index == 0
                    = f.radio_button :cis, cis[:id], :checked => true
                  - else
                    = f.radio_button :cis, cis[:id], :checked => false
                  = cis[:label]

      .form-group.request_service_id.hide
        = f.label :public_servant_id, t('form.labels.who'), class: 'col-md-2 control-label'
        .col-md-10
          = f.select :public_servant_id, @public_servant.collect {|p| [ p.name,  p.id] }, { prompt: t('service_requests.form.prompt_who') }, { class: 'js-load_service_fields form-control' ,:onchange=>"changeWho()"}

      .form-group.request_service_description
        = f.label :public_servant_description, t('form.labels.description'), class: 'col-md-2 control-label'
        .col-md-10
          = f.text_field :public_servant_description, class: 'form-control', rows: '5', placeholder: t('service_requests.form.description_placeholder')
          = errors_on_resource_for_field(@service_request, :public_servant_description)
          
      .form-group
        = f.label :description, t('form.labels.description'), class: 'col-md-2 control-label'
        .col-md-10
          = f.text_area :description, class: 'form-control', rows: '5', placeholder: t('service_requests.form.description_placeholder')
          = errors_on_resource_for_field(@service_request, :description)

      .form-group
        = f.label :media, t('form.labels.image'), class: 'col-md-2 control-label'
        .col-md-10
          = f.file_field :media, class: 'js-image-preview'
          .image_preview

      .form-group
        .col-md-offset-2.col-md-10
          = f.submit t('save'), class: "btn btn-primary"


:javascript

  function changeLine(){
    var e = document.getElementById("service_request_service_id");
    window.service = e.value;
    window.url = window.location.href;
    $.ajax({
           type:'GET', 
           url: window.url,
           success: function(){
           },
          error: function(){
          }, 
           data: $.param({ pagetime: {service: window.service}})
      });
  }

  function changeWho(){
    var e = document.getElementById("service_request_service_id");
    window.public_server = e.value;
    window.url_ = window.location.href;
    $.ajax({
           type:'GET', 
           url: window.url,
           success: function(){
           },
          error: function(){
          }, 
           data: $.param({ pagetime: {who: window.public_server}})
      });
  }