.report-show{id: "service_request_#{@service_request.id}"}
  .row
    .col-md-9
      %h2.report-show-title
        = "##{@service_request.id}"
        = @service_request.service.name
      .report-show-information
        %p= @service_request.address
        %p= service_cis_label(@service_request.cis)
        %p= "Hace #{time_ago_in_words(@service_request.created_at)}"

      .stream
        .activity.start
          = t('form.labels.status')
          = ": #{@service_request.status}"
          .date
            %i.icon-time
            = @service_request.created_at.strftime("%d/%m/%Y")

        .activity.description
          = image_tag @service_request.service_requester[:avatar_url], class: "avatar"
          %p= @service_request.description
          %p.name= @service_request.service_requester[:name]
          .date
            %i.icon-time
            = @service_request.created_at.strftime("%d/%m/%Y")


        = render @comments

        - if current_user
          .activity.form
            = image_tag current_user.avatar_url, class: "avatar"
            = form_for Comment.new do |f|
              = f.text_area :content, placeholder: "Agrega tu comentario"
              = f.file_field :image, class: "l-margin-s-bottom"
              = f.submit 'Comentar', class: "btn btn-primary"
              = f.hidden_field :service_request_id, value: @service_request.id
            .date
              %i.icon-time
              = Date.today.strftime("%d/%m/%Y")

    %aside.col-md-3
      - if @service_request.media.present?
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              = t('.image')
          .panel-body
            .image.tight
              = image_tag @service_request.media_url(:comment)


      .panel.panel-default
        .panel-heading
          %h3.panel-title
            = t('.share_it')
        .panel-body
          = render 'shared/facebook_share'
          = render 'shared/tweet'
