<%= nested_form_for([:admins, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'form.errors.prohibited', number_of_errors: pluralize(@category.errors.count, "error") %></h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre' %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :messages do |message_form| %>
    <%= message_form.label :content, "Mensaje" %>
    <%= message_form.text_area :content %>
    <%= message_form.label :status_id, "¿Que estatus?" %>
    <%= message_form.collection_select :status_id, Status.all, :id, :name %>
    <%= message_form.link_to_remove "Borrar mensaje" %>
  <% end %>
  <p><%= f.link_to_add "Agregar mensaje", :messages %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
