<h1><%= t('admin.category.show.title') %></h1>

<h2>Copycopter</h2>
<p><%= link_to 'Copycopter', 'http://copycopter.com/' %></p>

<fieldset class="token">

  <legend>Credenciales de autenticación</legend>

  <p>
    Secret Token: <strong><%= current_admin.authentication_token %></strong>
  </p>
   
  <p>
  <% if current_admin.api_key? %>
    Api Token: <strong><%= current_admin.api_key %></strong>
  <% else %>
    <%= link_to 'Generar llave', admins_api_keys_path, method: :post %>
  <% end %>
  </p>
</fieldset>
<br />
<table>
  <tr>
    <th><%= t('admin.category.show.columns.name') %></th>
    <th><%= t('admin.category.show.columns.extras') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.category_fields_names %></td>
    <td><%= link_to t('crud.show'), admins_category_path(category) %></td>
    <td><%= link_to t('crud.edit'), edit_admins_category_path(category) %></td>
    <td><%= link_to t('crud.destroy'), admins_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to t('admin.category.new.title'), new_admins_category_path %>
<br />

<h1>Estatus actuales</h1>

<table border="0">
   <tr>
     <th>Nombre</th>
     <th>Editar</th>
   </tr>

   <%- @statuses.each do |status| %>
    <tr>
      <td><%= status.name %></td>
      <td><%= link_to "Editar", edit_admins_status_path(status) %></td>
    </tr>
   <% end %>
</table>
<br />
<%= link_to "Nuevo estatus", new_admins_status_path %>
