<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @category.name %>
</p>

<p>
  <b>Campos adicionales:</b>
  <%= @category.category_fields_names %>
</p>


<%= link_to t('crud.edit'), edit_admins_category_path(@category) %> |
<%= link_to t('navigation.back'), admins_categories_path %>
