.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Reporte ciudadano
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Resumen', root_path, class: "pages index"
        %li
          = link_to 'Reportes', reports_path, class: "reports index"
        %li
          = link_to 'Realizar Reporte', new_report_path, class: "reports new"
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Admin', new_admin_session_path
        %li
          = link_to 'Iniciar sesión', new_user_session_path
