.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Reporte ciudadano
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Resumen', root_path, class: "pages index"
        %li
          = link_to 'Reportes', reports_path, class: "reports index"
        %li
          = link_to 'Realizar Reporte', new_report_path, class: "reports new"
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'Admin', new_admin_session_path
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Iniciar sesión
            %b.caret
          %ul.dropdown-menu{:style => "padding: 15px; padding-bottom: 0px;"}
            = form_tag user_session_path, role: 'form' do
              .form-group
                = email_field_tag 'user[email]', nil, class: 'form-control', placeholder: 'Email'
              .form-group
                = password_field_tag 'user[password]', nil, class: 'form-control', placeholder: 'Password'
              = button_tag 'Sign in', class: 'btn btn-primary btn-block'
              = link_to "Forgot your password?", new_password_path('user')
            %br
              %b or
            = link_to 'Sign in with twitter', user_omniauth_authorize_path(:twitter), class: 'btn btn-primary btn-block'
            = link_to 'Sign in with facebook', user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-block'
