.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'puebla-logo.png', class: "navbar-logo"
    .navbar-collapse.collapse.pagination-right
      - if current_user
        %ul.nav.navbar-nav.padding-top
          - unless current_page?(root_path)
            %li
              = link_to t('public_nav_bar.home'),root_path, class: "pages index"
          %li
            = link_to t('public_nav_bar.requests'), service_requests_path, class: "reports index"
          %li
            = link_to t('public_nav_bar.evaluate_a_submission'),service_surveys_path, class: "pages index"
      %ul.nav.navbar-nav.navbar-right.padding-top
        - if current_user
          %li.dropdown.pipe-left
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.name || current_user.email
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to  edit_user_registration_path do
                  %i.icon-cog
                  = t('public_nav_bar.edit_profile')
              %li.divider
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.icon-off
                  = t('public_nav_bar.sign_out')
        - else
          %li
            = link_to t('public_nav_bar.sign_up'), new_user_registration_path
          %li
            = link_to t('public_nav_bar.sign_in'), new_user_session_path
