.row.col-md-10.col-md-offset-1.padding-video
  %div{:class=>"embed-responsive embed-responsive-16by9 hight-video"}
    %iframe{:class=>"embed-responsive-item", :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "100%", :src => "#{embed_video(@url_video)}", :title => "YouTube video player", :width => "80%",:style =>"background-size: cover;",:webkitallowfullscreen=> "true", :mozallowfullscreen=> "true",:style=>"background-size : cover"}
.row.col-md-10.col-md-offset-1.video-text
  .p
    = t('.video_explication')
.row.reports-stats{data: { total: ServiceRequest.count } }
  = render "kpis/kpi", kpi: pretty_kpi_data(@active_citizen_count,t('dashboards.total_cities'))
  = render "kpis/kpi", kpi: pretty_kpi_data(@services_count,t('dashboards.total_procedures_services'))
  = render "kpis/kpi", kpi: pretty_kpi_data(@public_servant_assessed_count,t('dashboards.total_evaluations'))

.div.col-md-8.col-md-offset-2
  .h1.col-md-12.text-center.join-text
    =t(".join")
  .col-md-12.text-center
    .row  
      .col-md-6
        =link_to t(".complaints_or_suggestions"), new_service_request_path, :class=> 'reports new btn btn-primary navbar-btn match_parent font-button'
      .col-md-6
        =link_to t(".evaluate_a_submission"), service_surveys_path, :class=> 'reports new btn btn-primary navbar-btn match_parent font-button'
