.columns.on-3#reports-stats{data: { total: Report.count } }
  .column
    .container
      = @all_reports
      %h3 Reportes realizados
  .column
    .container.mid
      = @open_reports
      %h3 Reportes abiertos
  .column
    .container
      = @closed_reports
      %h3 Reportes resueltos

.unit#reports-chart{ data: { chart_data: @chart_data, category_names: @category_names }}


.unit.filters.top
  %h2 Mapa de reportes
  = form_tag reports_path, method: :get, class: "unit" do
    .fields
      = text_field_tag 'start_date', params[:start_date], placeholder: "De la fecha", class: 'datepicker'
      = text_field_tag 'end_date', params[:end_date], placeholder: "A la fecha", class: 'datepicker'
    .fields
      = select_tag('status', options_from_collection_for_select(Report::STATUS_LIST, :first, :last, params[:status]), prompt: 'Cualquier tipo')
    .fields
      = select_tag('category_id', options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: 'Todas las categorias')
    .fields
      = submit_tag 'Buscar', class: "submit"
  

.unit.map{data_position}
  #reports-map

.unit.filters 
  = form_tag reports_path, method: :get,class: "unit" do
    .fields
      = label_tag 'report_ids', 'Folio:'
      = text_field_tag 'report_ids', params[:report_ids], placeholder: 'Ej. 1,2,4'
    .fields
      = submit_tag 'Buscar', class: "submit"

.unit.recent
  %h2 Reportes recientes
  - @reports.each do |report|
    .unit.report{id: "report_#{report.id}", data: { lat: report.lat, lng: report.lng, description: report_info_window(report) } }
      .votes
        .counter.js-votes_count
          = report.votes_for 
        .js-vote_status
          = vote_link_for(report)
      - if admin_signed_in?
        .pull-right.edit_admin_report
          = link_to "Editar reporte", edit_admins_report_path(report)
      .date
        = timeago(report.created_at)
      %h3
        = link_to report.category.name, report_url(report), class: "title"
        %span.address= " - #{report.address}"
      %p= report.description

  
= paginate @reports
