<p>Se ha creado un nuevo reporte de servicio para <%= @service.name %>:</p>

<% unless @service_request.anonymous %>
  <em><%= @user.name %></em>
<% else %>
  <em>Anónimo</em>
<% end %>

<p><%= @service_request.description %></p>
<p><%= @service_request.created_at %></p>
<%= link_to "Ir al perfil de reporte", edit_admins_service_request_url(@service_request) %>