.form-group
  = f.label :service_id, t('form.labels.service'), class: 'col-md-2 control-label'
  .col-md-10
    = f.select :service_id, Service.all.collect {|p| [ p.name, p.id ] }, { prompt: t('.prompt_service') }, { class: 'js-load_service_fields form-control' }
    = errors_on_resource_for_field(@service_request, :service_id)

%div#service_fields_container
  = render @service_request.service.service_fields if @service_request.service?

.form-group
  = f.label :address, t('form.labels.address'), class: 'col-md-2 control-label'
  .col-md-10
    = f.text_area :address, id: 'address', rows: '5', class: 'form-control', placeholder: t('.address_placeholder')
    = errors_on_resource_for_field(@service_request, :address)

.form-group
  = f.label :description, t('form.labels.description'), class: 'col-md-2 control-label'
  .col-md-10
    = f.text_area :description, class: 'form-control', rows: '5', placeholder: t('.description_placeholder')
    = errors_on_resource_for_field(@service_request, :description)

.form-group
  = f.label :cis, t('form.labels.cis'), class: 'col-md-2 control-label'
  .col-md-10
    %ul.list-unstyled
      - service_cis_options.each do |cis|
        %li
          %label
            = f.radio_button :cis, cis[:id]
            = cis[:label]

.form-group
  = f.label :media, t('form.labels.image'), class: 'col-md-2 control-label'
  .col-md-10
    = f.file_field :media, class: 'js-image-preview'
    .image_preview

.form-group
  .col-md-offset-2.col-md-10
    .checkbox
    = f.label :anonymous do
      = f.check_box :anonymous
      = t('.anonymise')


.form-group
  .col-md-offset-2.col-md-10
    = f.submit t('save'), class: "btn btn-primary"