= form_for [:admins, @service_request], html: { class: "form-horizontal", role: 'form'} do |f|

  .form-group
    = f.label :title, "Título", class: 'col-lg-3 control-label'
    .col-lg-9
      = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :media, "Imagen", class: 'col-lg-3 control-label'
    .col-lg-9
      = f.file_field :media, class: 'js-image-preview'
      .image_preview

  .form-group
    = f.label :address, "Dirección", class: 'col-lg-3 control-label'
    .col-lg-9
      = f.text_area :address, id: 'address', rows: '5', class: 'form-control'

  .form-group
    = f.label :description, "Descripción", class: 'col-lg-3 control-label'
    .col-lg-9
      = f.text_area :description, class: 'form-control', rows: '5'
      = errors_on_resource_for_field(@service_request, :description)

  .form-group
    = f.label :service_id, "Servicio", class: 'col-lg-3 control-label'
    .col-lg-9
      = f.select :service_id, Service.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, { class: 'js-load_service_fields form-control' }
      = errors_on_resource_for_field(@service_request, :service_id)

  %div#service_fields_container
    = render @service_request.service.service_fields if @service_request.service?

  = f.hidden_field :lat, id: 'lat'
  = f.hidden_field :lng, id: 'lng'

  .form-group
    .col-lg-offset-3.col-lg-9
      = f.submit 'Guardar', class: "btn btn-primary"
