.content-header
  %h1
    = "Solicitud ##{@service_request.id}"
    = @service_request.service.name

.page-content.inset
  .report-show
    .row
      .col-md-8
        .report-show-map#show-report-map{ "data-longitude" => @service_request.lng, "data-latitude" => @service_request.lat, "data-description" => service_request_info_window(@service_request), style: "width:100%; height: 200px;"}
        .report-show-information
          = "Dirección: #{@service_request.address}"
          %p= "Hace #{time_ago_in_words(@service_request.created_at)}"

        .stream
          .activity.start
            Status: #{@service_request.status}
            .date
              %i.icon-time
              = @service_request.created_at.strftime("%d/%m/%Y")

          .activity.description
            = image_tag @service_request.service_requester[:avatar_url], class: "avatar"
            %p= @service_request.description
            %p.name= @service_request.service_requester[:name]
            .date
              %i.icon-time
              = @service_request.created_at.strftime("%d/%m/%Y")

          = render @comments

          .activity.form
            = image_tag current_admin.avatar_url(:thumb), class: "avatar"
            = form_for Comment.new do |f|
              = f.text_area :content, placeholder: "Agrega tu comentario"
              = f.file_field :image, class: "l-margin-s-bottom"
              = f.submit 'Comentar', class: "btn btn-primary"
              = f.hidden_field :service_request_id, value: @service_request.id
            .date
              %i.icon-time
              = Date.today.strftime("%d/%m/%Y")

      %aside.col-md-4
        .row.well
          %h4= t('.user_info')
          %p= @service_request.requester.name
          %p= @service_request.requester.email
          %p= "No. de cuenta: #{@service_request.requester.id}"

          - if @service_request.media.present?
            .image.tight
              = image_tag @service_request.media_url

        .row.well
          %h4= t('.update_service_request')
          = form_for [:admins, @service_request] do |f|
            = f.object.errors.messages unless f.object.errors.empty?

            .form-group
              = f.label :service_id, t('.service')
              = f.select :service_id, Service.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, { class: 'form-control input-sm' }
            .form-group
              = f.label :status_id, t('.status')
              = f.collection_select :status_id, Status.all, :id, :name, { include_blank: true }, { class: 'form-control input-sm' }
              = render @service_request.service.service_fields if @service_request.service?

            = f.submit t('.update'), class: 'btn btn-primary'
