.content-header
  %h2= t('.header')

.page-content.inset
  = search_form_for @search, url: admins_service_requests_path, method: :get, class: "filters form-inline" do |f|
    .form-group
      = f.text_field :date_gteq, placeholder: t('search_form.from_date'), class: 'datepicker form-control col-lg-6'
    .form-group.form-group-separator
      = f.text_field :date_lteq, placeholder: t('search_form.to_date'), class: 'datepicker form-control col-lg-6'
    .form-group.form-group-separator
      = f.collection_select :service_id_eq, Service.active, :id, :name, { include_blank: t('form.labels.service') }, class: 'form-control'
    .form-group.form-group-separator
      = f.collection_select :status_id_eq, Status.all, :id, :name, { include_blank: t('form.labels.status') }, class: 'form-control'
    .form-group
      = button_tag class: "submit btn btn-default" do
        %i.glyphicon.glyphicon-search
        = t('search')


  .table-responsive
    %table.table.sortable_table.table-striped.table-hover
      %thead
        %tr
          %th
            = t('.id')
            %i.icon-chevron-down
          %th
            = t('.created_at')
            %i.icon-chevron-down
          %th
            = t('form.labels.service')
            %i.icon-chevron-down
          %th
            = t('form.labels.address')
            %i.icon-chevron-down
          %th
            = t('form.labels.status')
            %i.icon-chevron-down
          %th
            = t('.votes')
            %i.icon-chevron-down
          %th
            = t('crud.delete')
      %tbody
        - @service_requests.each do |service_request|
          -if current_admin.id ==  service_request.public_servant_id || !Admin.find(current_admin.id).is_public_servant
            %tr
              %td= link_to service_request.id, edit_admins_service_request_path(service_request)
              %td= l service_request.created_at, format: :short
              %td= link_to service_request.service.name, edit_admins_service_request_path(service_request)
              %td= truncate service_request.address, length: 45
              %td= service_request.status
              %td= service_request.votes_for
              %td= link_to t('crud.delete'), admins_service_request_path(service_request), method: :delete

  = paginate @service_requests
