<div class="page-content inset">
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('.new_service_survey') %></h2>
      <%= form_for(:service_survey, url: admins_service_surveys_path, html: { method: :post, class: 'form-horizontal' }) do |f| %>
        <% if @service_survey.errors.any? %>
          <div id="error_explanation">
            <h2><%= t 'form.errors.prohibited', number_of_errors: pluralize(@service_surveys.errors.count, "error") %></h2>
          </div>
        <% end %>

        <fieldset>
          <div class="form-group">
            <%= f.label :title, t('form.labels.title'), class: 'col-md-3 control-label' %>
            <div class="col-md-5">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :services, t('form.labels.services'), class: 'col-md-3 control-label' %>
            <div class="col-md-5">
              <% @available_services.each do |service| %>
                <div class="checkbox">
                  <%= f.check_box :service_ids,  { multiple: true }, service.id, nil %>
                  <%= f.label :service_ids, service.name, value: service.id %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :phase, t('form.labels.phase'), class: 'col-md-3 control-label' %>
            <div class="col-md-5">
              <ul class="list-unstyled">
                <% phase_options.each do |phase| %>
                  <div class="col-md-4">
                    <label>
                      <%= f.radio_button :phase, phase %>
                      <%= f.label t(".phase_options.#{phase}") %>
                    </label>
                  </div>
                <% end %>
              </ul>
            </div>
          </div>
        </fieldset>
        <div class="actions col-md-2">
          <%= f.submit "Guardar", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
