<%= search_form_for @search,
                    url: admins_public_servants_path,
                    method: :get,
                    class: "filters form-inline" do |f| %>

  <div class="form-group col-md-6">
    <%= f.select :id,
                 public_servants_name_options.map {|e| [e.join(" "), e[0]]},
                 { prompt: t('.name') },
                 class: 'chosen-select' %>
  </div>

  <div class="form-group col-md-6">
    <%= f.select :organisation_id,
                 options_for_select(Organisation.order(:name).pluck(:name, :id), params[:q][:organisation_id]),
                 { prompt: t('form.labels.dependency') },
                 class: 'chosen-select' %>
    <%#= f.select :dependency,
                 dependency_options,
                 { prompt: t('form.labels.dependency') },
                 class: 'chosen-select' %>

  </div>

  <div class="form-group col-md-6">
    <%= f.select :agency_id,
                 Agency.order(:name).pluck(:name, :id),
                 { prompt: t('form.labels.administrative_unit') },
                 class: 'chosen-select' %>
   <%#= f.select :administrative_unit,
                administrative_unit_options.map { |e| e },
                { prompt: t('form.labels.administrative_unit') },
                class: 'chosen-select' %>
  </div>

  <div class="form-group col-md-6">
    <%= f.select :record_number,
                 @public_servants_record_number.map { |e| e},
                 { prompt: t('.record_number') },
                 class: 'chosen-select' %>
  </div>

  <div class="form-group col-md-12">
    <%= button_tag class: "submit btn btn-default" do %>
      <div class="i glyphicon glyphicon-search">
        <%= t('search')%>
      </div>
    <% end %>
  </div>
<% end %>
