<div class="page-content inset">
  <h3><%= t(".assign_services") %></h3>
  <%= form_for(:admin, url: admins_public_servant_path(@public_servant.id), html: { method: :patch, class: "form-horizontal" }) do |f| %>
    <div class="form-group">
      <% @available_services.each do |service| %>
        <div class="checkbox">
          <%= f.check_box :services_ids,  { multiple: true }, service.id, nil %>
          <%= f.label :services_ids, service.name, value: service.id %>
        </div>
      <% end %>
    </div>
    <%= f.submit t(".assign"), class: "btn btn-xs btn-primary" %>
  <% end %>
</div>