.page-content.inset
  .row
    .col-md-12
      %h2
        = t('.edit_service_admin')
      = form_for(:admin, url: admins_service_admin_path(@admin.id), html: { method: :patch, class: 'form-horizontal' }) do |f|

        - if @admin.errors.any?
          #error_explanation
            %h2= t 'form.errors.prohibited', number_of_errors: @admin.errors.count
        %fieldset
          .form-group
            = f.label :name, t('form.labels.name'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :name, class: 'form-control'
        %fieldset
          .form-group
            = f.label :surname, t('form.labels.surname'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :surname, class: 'form-control'
        %fieldset
          .form-group
            = f.label :second_surname, t('form.labels.second_surname'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :second_surname, class: 'form-control'
        %fieldset
          .form-group
            = f.label :record_number, t('form.labels.record_number'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :record_number, class: 'form-control'
        %fieldset
          .form-group
            / = f.label :dependency, t('form.labels.dependency'), class: 'col-md-2 control-label'
            = f.label :organisation_id, t('form.labels.dependency'), class: 'col-md-2 control-label'

            .col-md-5
              / = f.select :dependency, dependency_options, { include_blank:  t('form.labels.dependency')}, class: 'chosen-select'
              = f.select :organisation_id,
                         organisation_options,
                         { prompt: t('form.labels.dependency') },
                         class: 'form-control autocomplete-organisation_id'
        %fieldset
          .form-group
            / = f.label :administrative_unit, t('form.labels.administrative_unit'), class: 'col-md-2 control-label'
            = f.label :agency_id, t('form.labels.administrative_unit'), class: 'col-md-2 control-label'
            .col-md-5
              / = f.select :administrative_unit, administrative_unit_options, { include_blank: t('form.labels.administrative_unit') }, class: 'chosen-select'
              = f.select :agency_id,
                         agency_options,
                         { prompt: t('form.labels.administrative_unit') },
                         class: 'form-control autocomplete-agency_id'
        %fieldset
          .form-group
            = f.label :charge, t('form.labels.charge'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :charge, class: 'form-control'
        %fieldset
          .form-group
            %h3
              = t(".services_to_assign")
            .col-md-5
              = f.select :services_ids, @services.collect {|p| [p.name, p.id]}, {}, { class: 'js-load_service_fields chosen-select',:multiple=>true }
        .actions.col-md-2
          = f.submit t(".update"), class: 'btn btn-primary'

:javascript
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);
