.page-content.inset
  %h2
    = t('admins.service_admins.index.service_admins')
    .btn-group.pull-right
      = link_to t('admins.service_admins.index.new_service_admin'), new_admins_service_admin_path, class: 'btn btn-primary'

= render 'search_form'


%ul.js-tabs.nav.nav-tabs.padding-top
  %li.active
    = link_to t("admins.service_admins.index.enabled"), '#enabled', data: { toggle: 'tab' }
  %li
    = link_to t("admins.service_admins.index.disabled"), '#disabled', data: { toggle: 'tab' }

.tab-content
  #enabled.tab-pane.active
    = render partial: 'service_admins', locals: { service_admins: @service_admins }
  #disabled.tab-pane
    = render partial: 'service_admins', locals: { service_admins: @disabled_service_admins }

:javascript
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);