.page-content.inset
  %h2
    = t('.service_admins')
    .btn-group.pull-right
      = link_to t('.new_service_admin'), new_admins_service_admin_path, class: 'btn btn-primary'

= search_form_for @search, url: admins_service_admins_path, method: :get, class: "filters form-inline" do |f|
  .form-group.col-md-6
    = f.select :id,
                service_admins_name_options.map{|e| [e.join(" "), e[0]]},
                { prompt: t('.name') },
                class: 'chosen-select'
  .form-group.col-md-6
    = f.select :dependency, dependency_options, { prompt: t('form.labels.dependency') }, class: 'chosen-select'
  .form-group.col-md-6
    = f.select :administrative_unit, administrative_unit_options.map { |e| e}, { prompt: t('form.labels.administrative_unit') }, class: 'chosen-select'
  .form-group.col-md-6
    = f.select :record_number, record_number_options, { prompt: t('.record_number') }, class: 'chosen-select'

  .form-group.col-md-12
    = button_tag class: "submit btn btn-default" do
      %i.glyphicon.glyphicon-search
      = t('search')

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th
          =t(".id")
        %th
          =t(".name")
        %th
          =t(".email")
        %th
          =t(".record_number")
        %th
          =t(".dependency")
        %th
          =t(".administrative_unit")
        %th
          =t(".charge")
        %th
    %tbody
      - @service_admins.each do |service_admin|
        %tr.service_admin
          %td= service_admin.id
          %td= "#{service_admin.name} #{service_admin.surname} #{service_admin.second_surname}"
          %td= service_admin.email
          %td= service_admin.record_number
          %td= service_admin.dependency
          %td= service_admin.administrative_unit
          %td= service_admin.charge
          %td= link_to t(".edit"), edit_admins_service_admin_path(service_admin), class: "btn btn-default", id: "edit_service_admin_#{service_admin.id}"

:javascript
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);