.page-content.inset
  .row
    .col-md-12
      %h2
        = t('.new_service_admin')
      = form_for(:admin, url: admins_service_admins_path, html: { method: :post, class: 'form-horizontal' }) do |f|

        - if @admin.errors.any?
          #error_explanation
            %h2= t 'form.errors.prohibited', number_of_errors: @admin.errors.count

        %fieldset
          .form-group
            = f.label :name, t('form.labels.name'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :name, class: 'form-control'
        %fieldset
          .form-group
            = f.label :surname, t('form.labels.surname'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :surname, class: 'form-control'
        %fieldset
          .form-group
            = f.label :second_surname, t('form.labels.second_surname'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :second_surname, class: 'form-control'
        %fieldset
          .form-group
            = f.label :email, t('form.labels.email'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :email, class: 'form-control'
              = errors_on_resource_for_field(@admin, :email)
        %fieldset
          .form-group
            = f.label :record_number, t('form.labels.record_number'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :record_number, class: 'form-control'
        %fieldset
          .form-group
            = f.label :dependency, t('form.labels.dependency'), class: 'col-md-2 control-label'
            .col-md-5
              = f.select :dependency, dependency_options, { include_blank:  t('form.labels.dependency')}, class: 'chosen-select'
        %fieldset
          .form-group
            = f.label :administrative_unit, t('form.labels.administrative_unit'), class: 'col-md-2 control-label'
            .col-md-5
              = f.select :administrative_unit, administrative_unit_options, { include_blank: t('form.labels.administrative_unit') }, class: 'chosen-select'
        %fieldset
          .form-group
            = f.label :charge, t('form.labels.charge'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :charge, class: 'form-control'

        %fieldset
          .form-group
            %h3
              = t(".services_to_assign")
            .col-md-5
              = f.select :services_ids, @services.collect {|p| [p.name, p.id ]}, { }, { class: 'js-load_service_fields chosen-select',:multiple=>true }

        .actions.col-md-2
          = f.submit "Guardar", class: 'btn btn-primary'

:javascript
  $(document).ready(loadChosen);
  $(document).on('page:load', loadChosen);