.page-content.inset
  .row
    .col-md-12
      %h2
        = t('.new_service_admin')
      = form_for(:admin, url: admins_service_admins_path, html: { method: :post, class: 'form-horizontal' }) do |f|

        - if @admin.errors.any?
          #error_explanation
            %h2= t 'form.errors.prohibited', number_of_errors: pluralize(@admin.errors.count, "error")

        %fieldset
          .form-group
            = f.label :name, t('form.labels.name'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :name, class: 'form-control'
        %fieldset
          .form-group
            = f.label :surname, t('form.labels.surname'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :surname, class: 'form-control'
        %fieldset
          .form-group
            = f.label :second_surname, t('form.labels.second_surname'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :second_surname, class: 'form-control'
        %fieldset
          .form-group
            = f.label :email, t('form.labels.email'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :email, class: 'form-control'
              = errors_on_resource_for_field(@admin, :email)
        %fieldset
          .form-group
            = f.label :record_number, t('form.labels.record_number'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :record_number, class: 'form-control'
        %fieldset
          .form-group
            = f.label :dependency, t('form.labels.dependency'), class: 'col-md-2 control-label'
            .col-md-5
              = f.select :dependency, dependency_options
        %fieldset
          .form-group
            = f.label :administrative_unit, t('form.labels.administrative_unit'), class: 'col-md-2 control-label'
            .col-md-5
              = f.select :administrative_unit, administrative_unit_options
        %fieldset
          .form-group
            = f.label :charge, t('form.labels.charge'), class: 'col-md-2 control-label'
            .col-md-5
              = f.text_field :charge, class: 'form-control'

        %fieldset
          .form-group.col-md-5
            %h3
              = t(".services_to_assign")
            - @services.each do |service|
              .checkbox
                = f.check_box :services_ids, { multiple: true }, service.id, nil
                = f.label :services_ids, service.name, value: service.id

        .actions.col-md-2
          = f.submit "Guardar", class: 'btn btn-primary'
