<h3>
  <%= link_to evaluations_path do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
  <% end %>
  <%= t(".cis_evaluation_for", name: @cis.name) %>
</h3>
<hr>
<div class="row evaluation-overview">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <div class="well well-md text-center evaluation-overview-participants">
          <h3><%= @cis.survey_participants_count %></h3>
          <small><em><%= t(".survey_participants_count") %></em></small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-md text-center evaluation-overview-services">
          <h3><%= @cis.evaluated_services_count %></h3>
          <small><em><%= t(".evaluated_services_count") %></em></small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well well-md text-center evaluation-overview-public-servants">
          <h3><%= @cis.evaluated_public_servants_count %></h3>
          <small><em><%= t(".evaluated_public_servants_count") %></em></small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row evaluation-overall">
  <div class="col-md-10 col-md-offset-1">
    <% if @cis_report.present? %>
      <div class="well well-md col-md-5 js-overall-chart evaluation-overall-chart"
      data-title="<%= @cis_report.title %>"
      data-positive="<%= @cis_report.positive_overall_perception %>"
      data-negative="<%= @cis_report.negative_overall_perception %>">
      </div>
    <% else %>
      <div class="well well-md col-md-5">
        <p><em><%= t(".no_report_data") %></em></p>
      </div>
    <% end %>
    <div class="col-md-2"></div>
    <div class="well well-md col-md-5 evaluation-overall-areas">
      <h3><%= t(".by_area") %></h3>
      <ul class="list-unstyled">
      <% if @cis_report.present? %>
        <% @cis_report.overall_areas.each do |overall| %>
          <li>
            <%= label_for(overall) %>
            <div class="progress">
              <%= overall_progress_by_criterion(overall) %>
            </div>
          </li>
        <% end %>
      <% else %>
        <p><em><%= t(".no_report_data") %></em></p>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row services-evaluation">
  <div class="col-md-10 col-md-offset-1">
    <div class="well well-md col-md-5 best-service">
      <h3><%= t(".best_evaluated_service") %></h3>
      <% if @cis.has_evaluated_services?(:best) %>
        <h4 class="text-center"><%= @cis.best_evaluated_service.name %></h4>
        <ul class="list-unstyled">
          <li>
            <span><%= t('.general') %></span>
            <div class="progress">
              <%= overall_progress(@cis.best_evaluated_service.positive_overall_perception) %>
            </div>
          </li>
          <% criterions.each do |criterion| %>
            <li>
              <%= label_for([criterion, @cis.best_evaluated_service.overall_evaluation_for(criterion)]) %>
              <div class="progress">
                <%= overall_progress_by_criterion([criterion, @cis.best_evaluated_service.overall_evaluation_for(criterion)]) %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><em><%= t(".no_evaluated_services") %></em></p>
      <% end %>
    </div>
    <div class="col-md-2"></div>
    <div class="well well-md col-md-5 worst-service">
      <h3><%= t(".worst_evaluated_service") %></h3>
      <% if @cis.has_evaluated_services?(:worst) %>
        <h4 class="text-center"><%= @cis.worst_evaluated_service.name %></h4>
        <ul class="list-unstyled">
          <li>
            <span><%= t('.general') %></span>
            <div class="progress">
              <%= overall_progress(@cis.worst_evaluated_service.positive_overall_perception) %>
            </div>
          </li>
          <% criterions.each do |criterion| %>
            <li>
              <%= label_for([criterion, @cis.worst_evaluated_service.overall_evaluation_for(criterion)]) %>
              <div class="progress">
                <%= overall_progress_by_criterion([criterion, @cis.worst_evaluated_service.overall_evaluation_for(criterion)]) %>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p><em><%= t(".no_evaluated_services") %></em></p>
      <% end %>
    </div>
  </div>
</div>

<div class="row public-servants-evaluation">
  <div class="col-md-10 col-md-offset-1">
    <div class="well well-md col-md-5 best-public-servants">
      <h3 class="text-center"><%= t(".best_public_servants_service") %></h3>
      <% if @cis.has_public_servants_service?(:best) %>
        <h4 class="text-center"><%= @cis.best_public_servants_service.name %></h4>
        <div class="well well-sm">
          <h1 class="text-center">
            <%= number_with_precision @cis.best_public_servants_service.overall_evaluation_for(:public_servant), precision: 0 %>%
          </h1>
        </div>
      <% else %>
        <p><em><%= t(".no_evaluated_services") %></em></p>
      <% end %>
    </div>
    <div class="col-md-2"></div>
    <div class="well well-md col-md-5 worst-public-servants">
      <h3 class="text-center"><%= t(".worst_public_servants_service") %></h3>
      <% if @cis.has_public_servants_service?(:best) %>
        <h4 class="text-center"><%= @cis.worst_public_servants_service.name %></h4>
        <div class="well well-sm">
          <h1 class="text-center">
            <%= number_with_precision @cis.worst_public_servants_service.overall_evaluation_for(:public_servant), precision: 0 %>%
          </h1>
        </div>
      <% else %>
        <p><em><%= t(".no_evaluated_services") %></em></p>
      <% end %>
    </div>
  </div>
</div>

<div class="row evaluation-services">
  <div class="col-md-10 col-md-offset-1">
    <h4><%= t(".by_services") %></h4>
  </div>
  <div class="col-md-10 col-md-offset-1 table-responsive">
    <% if @cis.services.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <% criterions.each do |criterion| %>
              <th>
                <%= link_to cis_evaluation_path(id: @cis.id, sort_by: criterion, direction: @next_possible_direction) do %>
                  <%= sorted_icon(@next_possible_direction, criterion, @sorted_by) %>
                  <span><%= t("question_criterion_options.#{criterion}") %></span>
                <% end %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @services.each do |service| %>
            <tr>
              <td><%= service.name %></td>
              <% criterions.each do |criterion| %>
                <td>
                  <% if service.overall_evaluation_for(criterion).present? %>
                    <div class="progress">
                      <div class="progress-bar progress-bar-<%= class_range_for(service.overall_evaluation_for(criterion))%>" style="width: <%= service.overall_evaluation_for(criterion) %>%; color: black">
                        <%= number_with_precision(service.overall_evaluation_for(criterion), precision: 0) %>%
                      </div>
                    </div>
                  <% else %>
                    <label class="label label-warning"><%= t(".not_evaluated") %></label>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="well well-md">
        <p>
          <%= t(".no_services")%>
        </p>
      </div>
    <% end %>
  </div>
</div>