%div.container
  %div.col-sm-12.col-md-12
    %h1
    %h4
      Reportes Existentes
    %div.row.container.col-md-12
      .table-responsive.surveys-table
        %table.table.table-striped
          %thead
            %tr
              %th
                Nombre
              %th
                Fase
              %th
                Link
              %th
                Fecha de Creación

          %tbody
            - @service_surveys_report.each do |report|
              %tr.service_survey
                %td
                  = report.title
                %td
                  = report.phase
                %td
                  = link_to  "Ir al reporte #{report.id}",service_survey_report_path(report.id)
                %td
                  = report.created_at.to_date