%div.container
  %div.col-sm-12.col-md-12
    %h1
      = t('service_report.show.title') + ": " + @service_survey.title
    %h4
      %span.glyphicon.glyphicon-user{"aria-hidden"=> "true"}
      = @service_surveys_report.people_who_participated.to_s + " " + t('service_report.show.people_who_participated')
    %h4
      %span.glyphicon.glyphicon-calendar{"aria-hidden"=> "true"}
      = "Abierta hace: " + distance_of_time_in_words(Date.today, @service_survey.updated_at.to_date)

    %div#chartPerception.col-sm-12.col-md-6{"data-positive" => @service_surveys_report.positive_overall_perception,
     "data-negative" => @service_surveys_report.negative_overall_perception,
     "data-title" => "#{t('service_report.general_survey.title')}",
     "data-subtitle" => "#{t('service_report.general_survey.subtitle')}"}