<div class="change-password">
<h1 class="form-header">Cambia tu contrase単a</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="fields"><%= f.label :password, "Nueva contrase単a" %>
  <%= f.password_field :password, :autofocus => true %></div>

  <div class="fields"><%= f.label :password_confirmation, "Confirmar nueva contrase単a" %>
  <%= f.password_field :password_confirmation %></div>

  <div class="actions"><%= f.submit "Cambiar contrase単a" %></div>
<% end %>

<hr />

<%= render "users/shared/links" %>
</div>
