<div class="forgot-password">
  <h1 class="form-header">¿Olvidaste tu contraseña?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, autocomplete: :off }) do |f| %>
  <%= devise_error_messages! %>

  <div class="fields"><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div class="actions"><%= f.submit "Enviar instrucciones" %></div>
<% end %>

<hr />

<%= render "users/shared/links" %>
</div>

