.form-group
  = label_tag "service_request[service_fields][#{service_field.id}]", service_field.name.capitalize, class: 'col-md-2 control-label'
  .col-md-10
    - if @service_request.nil?
      = text_field_tag "service_request[service_fields][#{service_field.id}]", nil, class: 'form-control'
    - else
      = text_field_tag "service_request[service_fields][#{service_field.id}]", @service_request.service_fields[service_field.to_s], class: 'form-control'
    = errors_on_resource_for_field(@service_request, service_field.name.to_sym) if @service_request
