.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Reporte ciudadano', dashboard_admins_reports_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Resumen', dashboard_admins_reports_path, class: "pages index"
        %li
          = link_to 'Personalizar Reportes', reports_path, class: "reports index"
        %li
          = link_to 'Diseño', new_report_path, class: "reports new"
      %ul.nav.navbar-nav.navbar-right
        - if current_admin
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = 
              %b.caret
            %ul.dropdown-menu
        - else
          %li
            = link_to 'Iniciar sesión', new_admin_session_path
