<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="dropdown">
      <%= link_to services_admins_dashboards_path, class: "dropdown-toggle", id: "dropdown_service_requests", "data-toggle" => "dropdown" do %>
        <%= i18n_admin_sidebar('.requests') %>
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu">
        <% unless current_admin.has_service_assigned? %>
          <li><em><%= i18n_admin_sidebar(".no_requests") %></em></li>
        <% else %>
          <li>
            <%= link_to current_admin.assigned_service_name, admins_service_path(current_admin.service) %>
          </li>
        <% end %>
      </ul>
    </li>
    <hr>
    <li class="admin-email">
      <i class="glyphicon glyphicon-user"></i>
      <%= current_admin.email %>
    </li>
    <li>
      <%= link_to edit_admins_registration_path(current_admin) do %>
        <i class="glyphicon glyphicon-cog"></i>
        <%= i18n_admin_sidebar('.edit_profile') %>
      <% end %>
    </li>
    <li>
      <%= link_to destroy_admin_session_path, method: :delete do %>
        <i class="glyphicon glyphicon-off"></i>
        <%= i18n_admin_sidebar('sign_out') %>
      <% end %>
    </li>
  </ul>
</div>



