#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to t('.dashboard'), admins_dashboards_path
    %li
      = link_to t('.summary'), admins_dashboards_path
    %li
      = link_to t('.requests'), admins_service_requests_path
    %li
      = link_to t('.all_services'), services_admins_dashboards_path
    %li
      = link_to t('.config_requests'),  admins_services_path
    - unless current_admin.is_service_admin
      %li
        = link_to t('.service_admins'), admins_service_admins_path
    %li
      = link_to t('.public_servants'), admins_public_servants_path
    %li
      = link_to t('.design'), design_admins_dashboards_path
    %li
      = link_to t('.api'), admins_api_keys_path


    %hr
    %li.admin-email
      %i.glyphicon.glyphicon-user
      = current_admin.email
    %li
      = link_to  edit_admins_registration_path(current_admin) do
        %i.glyphicon.glyphicon-cog
        = t('.edit_profile')
    %li
      = link_to destroy_admin_session_path, method: :delete do
        %i.glyphicon.glyphicon-off
        = t('sign_out')



