#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      = link_to "Admin dashboard", dashboard_admins_service_requests_path
    %li
      = link_to 'Resumen', dashboard_admins_service_requests_path
    %li
      = link_to 'Solicitudes', admins_service_requests_path
    %li
      = link_to 'Personalizar solicitudes',  admins_services_path
    %li
      = link_to 'Diseño', design_admins_dashboards_path
    %li
      = link_to 'API', admins_api_keys_path


    %hr
    %li
      = current_admin.email
    %li
      = link_to  edit_admins_registration_path(current_admin) do
        %i.icon-cog
        Editar perfil
    %li
      = link_to destroy_admin_session_path, method: :delete do
        %i.icon-off
        Cerrar Sesión



