
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-short-stacked' }) do |f| %>
  <h2><%= t('.forgot_password') %></h2>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class: "form-control bottom-field", placeholder: t('form.placeholders.email')%>
  </div>

  <div class="actions">
    <%= f.submit t(".send_instructions"), class: 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>