= form_for @report, class: "unit" do |f|
  = f.object.errors.messages unless f.object.errors.empty?

  .fields
    = f.label :image, "Imágen"
    = f.file_field :image, class: 'js-image-preview'
    .image_preview

  .fields
    = f.label :address, "Dirección"
    = f.text_area :address, id: 'address', rows: '5'

  .fields
    = f.label :description, "Descripción"
    = f.text_area :description, { rows: '5' }
  .fields
    = f.label :category_id, "Categoría"
    = f.select :category_id, Category.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, { class: 'js-load_category_fields' }
  %div#category_fields_container
    = render @report.category.category_fields if @report.category?
  .fields
    = f.label :anonymous, "Ocultar identidad"
    = f.check_box :anonymous
  = f.hidden_field :lat, id: 'lat'
  = f.hidden_field :lng, id: 'lng'
  .fields

  = f.submit 'Guardar', class: (current_user ? '' : 'blocked'), data: { message: 'Para crear reportes necesitas registrarte en el sistema.' }
