.sidebar
  .container
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.unit.list
  .container
    %h1 Reportes
    %p A continaución un listado de los reportes más recientes

    - @reports.each do |report|
      .unit.report{id: "report_#{report.id}"}
        - if user_signed_in? && !current_user.voted_on?(report)
          = link_to 'Vota', vote_report_path(report), :remote => true, :method => :post, :class => "js-vote_report"
        - elsif user_signed_in? && current_user.voted_on?(report)
          Votado
        - else
          = link_to 'Vota', login_path
        .js-vote_status
        .js-votes_count= report.votes_for 
        %h2= report.category.name
        %p= report.description
        %p
          "Reportado por #{report.user.name}"
          %abbr.timeago{title: "#{report.created_at.getutc.iso8601}"} #{report.created_at.to_s}

= paginate @reports
