= search_form_for @search, method: :get, class: "unit" do |f|
  .fields
    = f.label :date_gteq, "De la fecha"
    = f.text_field :date_gteq, placeholder: "De la fecha", class: 'datepicker'
  .fields
    = f.label :date_lteq, "A la fecha"
    = f.text_field :date_lteq, placeholder: "A la fecha", class: 'datepicker'
  .fields
    = f.label :status_eq, "Status"
    = f.collection_select :status_eq, Report::STATUS_LIST, :first, :last, { include_blank: 'Cualquiera' }
  .fields
    = f.label :category_id_eq, "Categoría"
    = f.collection_select :category_id_eq, Category.all, :id, :name, { include_blank: 'Todas' }
  .fields
    = submit_tag 'Buscar', class: "submit"
%table.table
  %theader
    %tr
      %th= sort_link @search, :id, "Identificador"
      %th= sort_link @search, :date, "Fecha de creación"
      %th Categoria
      %th Descripción
      %th Estatus
    - @reports.each do |report|
      %tr
        %td= report.id
        %td= l report.created_at, format: :short
        %td= report.category.name
        %td= truncate report.description
        %td= status_name report.status
= paginate @reports
