.sidebar
  .container
    #reports-map(style= "height:400px")

.unit.list
  .container
    %h1 Reportes
    %p A continaución un listado de los reportes más recientes

    - @reports.each do |report|
      .unit.report{id: "report_#{report.id}", data: { lat: report.lat, lng: report.lng } }
        - if user_signed_in? && !current_user.voted_on?(report)
          = link_to 'Vota', vote_report_path(report), :remote => true, :method => :post, :class => "js-vote_report"
        - elsif user_signed_in? && current_user.voted_on?(report)
          Votado
        - else
          = link_to 'Vota', login_path
        .js-vote_status
        .js-votes_count= report.votes_for 
        %h2= report.category.name
        %p= report.description
        %p
          "Reportado por #{report.user.name}"
          %abbr.timeago{title: "#{report.created_at.getutc.iso8601}"} #{report.created_at.to_s}
        %p= link_to 'Mostrar detalle', report_url(report)

= paginate @reports
