.row.list

  .row.filters
    = search_form_for @search, method: :get, class: "row" do |f|
      .fields
        = f.label :date_gteq, "De la fecha"
        = f.text_field :date_gteq, placeholder: "De la fecha", class: 'datepicker'
      .fields
        = f.label :date_lteq, "A la fecha"
        = f.text_field :date_lteq, placeholder: "A la fecha", class: 'datepicker'
      .fields
        = f.label :status_id_eq, "Status"
        = f.collection_select :status_id_eq, Status.all, :id, :name, { include_blank: 'Cualquiera' }
      .fields
        = f.label :category_id_eq, "Categoría"
        = f.collection_select :category_id_eq, Category.all, :id, :name, { include_blank: 'Todas' }
      .fields
        = submit_tag 'Buscar', class: "submit"

  %table.table.sortable_table.zebra
    %thead
      %tr
        %th
          Identificador
          %i.icon-chevron-down
        %th
          Fecha de creación
          %i.icon-chevron-down
        %th
          Categoria
          %i.icon-chevron-down
        %th
          Descripción
          %i.icon-chevron-down
        %th
          Estatus
          %i.icon-chevron-down
        %th
          Votos
          %i.icon-chevron-down
        - if admin_signed_in?
          %th
            Eliminar
    %tbody
      - @reports.each do |report|
        %tr
          %td= link_to report.id, report_url(report)
          %td= l report.created_at, format: :short
          %td= report.category.name
          %td= truncate report.description
          %td= report.status
          %td= report.votes_for
          - if admin_signed_in?
            %td= link_to 'Eliminar', admins_report_path(report), method: :delete

= paginate @reports
