-#
  .unit.map{data_position}
    #reports-map

  .unit.list
    .container

      .unit.filters
        = form_tag reports_path, method: :get do
          .fields
            = label_tag 'start_date', 'De fecha'
            = text_field_tag 'start_date', params[:start_date], class: 'datepicker'
          .fields
            = label_tag 'end_date', 'A fecha'
            = text_field_tag 'end_date', params[:end_date], class: 'datepicker'
          .fields
            = label_tag 'status', 'Estatus'
            = select_tag('status', options_from_collection_for_select(Report::STATUS_LIST, :first, :last, params[:status]), prompt: 'Cualquiera')
          .fields
            = label_tag 'category_id', 'Categoria'
            = select_tag('category_id', options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: 'Todas')
          .actions
            = submit_tag 'Buscar', class: "submit"
        %hr
        = form_tag reports_path, method: :get do
          .fields
            = label_tag 'report_ids', 'Folio:'
            = text_field_tag 'report_ids', params[:report_ids], placeholder: 'Ej. 1,2,4'
          .actions
            = submit_tag 'Buscar', class: "submit"

.unit
  .columns.on-3
    .column
      = @all_reports
      %h3 Reportes realizados
    .column
      = @open_reports
      %h3 Reportes abiertos
    .column
      = @closed_reports
      %h3 Reportes resueltos

.unit.recent
  %h2 Reportes Recientes
  - @reports.each do |report|
    .unit.report{id: "report_#{report.id}", data: { lat: report.lat, lng: report.lng } }
      .votes
        .counter.js-votes_count
          = report.votes_for 
        .js-vote_status
          = vote_link_for(report)
      - if admin_signed_in?
        .pull-right.edit_admin_report
          = link_to "Editar reporte", edit_admins_report_path(report)
      .date
        = timeago(report.created_at)
      %h3= link_to report.category.name, report_url(report), class: "title"
      %p= report.description
        

= paginate @reports
