.unit.map{data_position}
  #reports-map

.unit.list
  .container

    .unit.filters
      = form_tag reports_path, method: :get do
        .fields
          = label_tag 'start_date', 'De fecha'
          = text_field_tag 'start_date', params[:start_date], class: 'datepicker'
        .fields
          = label_tag 'end_date', 'A fecha'
          = text_field_tag 'end_date', params[:end_date], class: 'datepicker'
        .fields
          = label_tag 'status', 'Estatus'
          = select_tag('status', options_from_collection_for_select(Report::STATUS_LIST, :first, :last, params[:status]), prompt: 'Cualquiera')
        .fields
          = label_tag 'category_id', 'Categoria'
          = select_tag('category_id', options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: 'Todas')
        .actions
          = submit_tag 'Buscar', class: "submit"

    - @reports.each do |report|
      .unit.report{id: "report_#{report.id}", data: { lat: report.lat, lng: report.lng } }
        .votes
          .counter.js-votes_count
            = report.votes_for 
          .js-vote_status
            = vote_link_for(report)

        %h2= link_to report.category.name, report_url(report), class: "title"
        %p= report.description
        %p
          Reportado por
          %span.user
            = report.reporter[:name]

          = timeago(report.created_at)

= paginate @reports
