%p 
  Creado por
  = @report.user.name
  %abbr.timeago{title: "#{@report.created_at.getutc.iso8601}"} #{@report.created_at.to_s}

- if admin_signed_in?
  = form_for @report, url: update_status_admins_report_path(@report) do |f|
    .fields
      = f.label :status, "Estatus"
      = f.collection_select :status, Report::STATUS_LIST, :first, :last
    .actions
      = f.submit "Actualizar"
