.unit.map#show-report-map{ "data-longitude" => @report.lng, "data-latitude" => @report.lat }

.columns.on-3.show{id: "report_#{@report.id}"}
  .container.wrapper

    .column.fixed.votes
      .counter.js-votes_count
        = @report.votes_for
      .js-vote_status
        = vote_link_for(@report)
      .status 
        %i.icon-flag
        = Report::STATUS_LIST[@report.status]

    .column.fixed.info
      .unit.report_box
        %h2.title= @report.category.name

        .starter
          = image_tag @report.user.avatar_url, class: "avatar"
          .name
            = @report.user.name
            dice:
          .description
            = @report.description
          .time
            = timeago(@report.created_at)
          - if @report.image.present?
            .image
              = image_tag @report.image_url
      - if admin_signed_in?
        .unit.admin
          = form_for @report, url: update_status_admins_report_path(@report) do |f|
            = f.submit "Actualizar", class: "button blue rounded submit"
            .field
              = f.label :status, "Estatus"
              = f.collection_select :status, Report::STATUS_LIST, :first, :last
              
      .unit.comments
        = render @comments

        - user = current_user || current_admin
        - if user
          .comment.green
            = image_tag user.avatar_url, class: "avatar"
            = form_for Comment.new do |f|
              = f.submit 'Comentar', class: "button green rounded submit"
              = f.text_area :content, placeholder: "Agrega tu comentario"
              = f.file_field :image, class: 'image_uploader'
              = f.hidden_field :report_id, value: @report.id
              .image_container#draggable_area
                %span.add_image + 
                = image_tag '', id: 'preview_image', style: 'display:none'



    .column.fixed.social
      = render 'shared/tweet'


    
