.columns.on-2.report-show{id: "report_#{@report.id}"}
  .container
    
    .column.fixed{style: "width: 70%;"}
      .container.timeline

        %h2.title= @report.category.name
        .unit.map#show-report-map{ "data-longitude" => @report.lng, "data-latitude" => @report.lat, style: "width:100%; height: 300px;"}
        .information
          .time= timeago(@report.created_at)


        .stream
          .activity.start
            Inicio del Reporte
            .date
              %i.icon-time
              = @report.created_at.strftime("%d/%m/%Y")

          .activity.description
            = image_tag @report.reporter[:avatar_url], class: "avatar"
            %p= @report.description
            %p.name= @report.reporter[:name]
            .date
              %i.icon-time
              = @report.created_at.strftime("%d/%m/%Y")
          

          = render @comments

          - user = current_user || current_admin
          - if user
            .activity.form
              = image_tag user.avatar_url(:thumb), class: "avatar"
              = form_for Comment.new do |f|
                = f.text_area :content, placeholder: "Agrega tu comentario"
                = f.submit 'Comentar', class: "button green rounded submit"
                = f.hidden_field :report_id, value: @report.id
              .date
                %i.icon-time
                = Date.today.strftime("%d/%m/%Y")


    .column.fixed{style: "width: 30%;"}
      .container.right

        - if @report.image.present?
          .image
            = image_tag @report.image_url

        .location
          %h3 Ubicacion
          %p Nombre de la calle 541, Col. Este de Aqui, Oaxaca

        .votes
          .counter.js-votes_count
            = @report.votes_for
          .js-vote_status
            = vote_link_for(@report)
          .status 
            %i.icon-flag
            = Report::STATUS_LIST[@report.status]

        .social
          = render 'shared/tweet'


        - if admin_signed_in?
          .unit.admin
            = form_for @report, url: update_status_admins_report_path(@report) do |f|
              = f.submit "Actualizar", class: "button blue rounded submit"
              .field
                = f.label :status, "Estatus"
                = f.collection_select :status, Report::STATUS_LIST, :first, :last
              .field
                = f.label :message, "Mensaje"
                = f.collection_select :message, @report.category.messages.with_status(@report.status), :status, :content
                = hidden_field_tag 'report_id', @report.id
