.report-show{id: "report_#{@report.id}"}
  .row
    .col-md-8
      %h2.report-show-title
        = "##{@report.id}"
        = @report.category.name
      .report-show-map#show-report-map{ "data-longitude" => @report.lng, "data-latitude" => @report.lat, "data-description" => report_info_window(@report), style: "width:100%; height: 300px;"}
      .report-show-information
        = "Hace #{time_ago_in_words(@report.created_at)}"



      .stream
        .activity.start
          Status: #{@report.status}
          .date
            %i.icon-time
            = @report.created_at.strftime("%d/%m/%Y")

        .activity.description
          = image_tag @report.reporter[:avatar_url], class: "avatar"
          %p= @report.description
          %p.name= @report.reporter[:name]
          .date
            %i.icon-time
            = @report.created_at.strftime("%d/%m/%Y")


        = render @comments

        - user = current_user || current_admin
        - if user
          .activity.form
            = image_tag user.avatar_url(:thumb), class: "avatar"
            = form_for Comment.new do |f|
              = f.text_area :content, placeholder: "Agrega tu comentario"
              = f.file_field :image
              = f.submit 'Comentar', class: "button green rounded submit"
              = f.hidden_field :report_id, value: @report.id
            .date
              %i.icon-time
              = Date.today.strftime("%d/%m/%Y")

    %aside.col-md-4
      - if @report.image.present?
        .image.tight
          = image_tag @report.image_url

      .location
        %h3 Ubicacion
        %p= @report.address

      .votes
        .counter.js-votes_count
          = @report.votes_for
        .js-vote_status
          = vote_link_for(@report)
        .status
          %i.icon-flag
          = @report.status

      .social
        = render 'shared/tweet'
