!!! 5
%html
  %head
    %title Reporte Ciudadano
    = stylesheet_link_tag    "application", :media => "all"
    %script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_KEY}&sensor=false")
    = javascript_include_tag "application"
    = timeago_script_tag
    = csrf_meta_tags
  %body
    = render "shared/header"
    - flash.each do |name, msg|
      = content_tag :div, :class => "alert #{name}" do
        = msg
 
    %section.unit.main
      = yield

    = render "shared/footer"
