<html>
  <head>
    <title>URBEM Puebla</title>
    <%= stylesheet_link_tag current_theme, media: "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </head>
  <body class='<%= "#{controller_name} #{action_name}" %>'>
    <div id="wrap">
      <%= render "shared/observer_header" %>
      <div class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, class: "alert #{flash_class(name)}" do %>
            <%= msg %>
          <% end %>
        <% end %>
        <div class="padding-top">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
