.content-header
  %a#menu-toggle.btn.btn-default{href: "#"}
    %i.icon-reorder

  %h2= t('.header')

.page-content.inset
  .row.reports-stats{data: { total: ServiceRequest.count } }
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block
      = @all_service_requests
      %h3.reports-stats-name= t('dashboards.total_requests')
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block.mid
      = @open_service_requests
      %h3.reports-stats-name= t('dashboards.open_requests')
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block
      = @closed_service_requests
      %h3.reports-stats-name= t('dashboards.closed_requests')

  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title= t('dashboards.requests_by_service_chart')
      = link_to t(".export_to_csv"), export_admins_dashboards_path, class: "btn btn-primary pull-right"
      #reports-chart{ data: { chart_data: @chart_data, status_data: @status_data }}

  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title= t('dashboards.requests_by_dependency_chart')
      = link_to t(".export_to_csv"), export_dependencies_admins_dashboards_path, class: "btn btn-primary pull-right"
      #dependency-reports-chart{ data: { chart_data: @dependencies_chart_data, status_data: @status_data }}

  = render 'service_requests'