.content-header
  %a#menu-toggle.btn.btn-default{href: "#"}
    %i.icon-reorder

  %h2= t('.header')

.page-content.inset
  .row.reports-stats{data: { total: ServiceRequest.count } }
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block
      = @all_service_requests
      %h3.reports-stats-name= t('dashboards.total_requests')
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block.mid
      = @open_service_requests
      %h3.reports-stats-name= t('dashboards.open_requests')
    .col-md-4.col-sm-4.col-xs-4.reports-stats-block
      = @closed_service_requests
      %h3.reports-stats-name= t('dashboards.closed_requests')

  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title= t('dashboards.requests_by_service_chart')
      = link_to t(".export_to_csv"), export_admins_dashboards_path, class: "btn btn-primary pull-right"
      #reports-chart{ data: { chart_data: @chart_data, status_data: @status_data }}

  .row.blk-summary.l-margin-l-bottom
    .container
      %h2.blk-summary-title= t('dashboards.requests_by_dependency_chart')
      #dependency-reports-chart{ data: { chart_data: @dependencies_chart_data, status_data: @status_data }}

  -unless current_admin.is_observer
    .row.blk-summary.l-margin-l-bottom.recent-reports
      .container
        %h2.blk-summary-title= t('dashboards.recent_requests')
        - unless @service_requests.empty?
          - @service_requests.each do |service_request|
            .recent-report-sum{id: "service_request_#{service_request.id}", data: { description: service_request_info_window(service_request) } }
              .row
                .col-md-2.recent-reports-sum-date.l-margin-s-bottom
                  = timeago(service_request.created_at)
                .col-md-8.recent-reports-sum-info.l-margin-s-bottom
                  %h3.recent-reports-title
                    = link_to service_request.service.name, edit_admins_service_request_path(service_request), class: "title"
                  %span.recent-reports-address= " - #{service_request.address}" if service_request.address
                  %p= service_request.description
                .col-md-2.text-center.l-margin-s-bottom
                  .recent-reports-counter.js-votes_count
                    = service_request.votes_for
                  = link_to t('crud.edit'), edit_admins_service_request_path(service_request), class: 'btn pull-right btn-default btn-xs'
        - else
          .row.service_request


  = paginate @service_requests
