.page-content.inset
  %h2= t('.managed_services')

  = search_form_for @search, url: services_admins_dashboards_path, method: :get, class: "filters form-inline" do |f|
    .form-group.form-group-separator
      = f.select :dependency, dependency_options, { prompt: t('form.labels.dependency') }, class: 'form-control'
    .form-group
      = button_tag class: "submit btn btn-default" do
        %i.glyphicon.glyphicon-search
        = t('search')

  %table.table.table-hover
    %tr
      %th= t('.name')
      %th= t('.service_type')
      %th= t('.dependency')
      %th= t('.administrative_unit')
      %th= t('.cis')
    - @services.each do |service|
      %tr
        %td= service.name
        %td
          - if service.service_type.present?
            = t(".service_type_options.#{service.service_type}")
        %td= service.dependency
        %td= service.administrative_unit
        %td= service.cis_names