%h2= t('.edit_profile')
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, role: 'form', class: 'l-margin-l-bottom' }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, t('form.labels.email')
    .row
      .col-lg-6
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: t('form.placeholders.email')

  .form-group
    = f.label :telephone_number, t('devise.telephone_number')
    .row
      .col-lg-6
        = f.text_field :telephone_number, autofocus: true, class: 'form-control'
  .form-group
    = f.label :password, t('form.labels.password')
    .row
      .col-lg-6
        = f.password_field :password, placeholder: t('form.placeholders.password'), class: 'form-control'
  .form-group
    = f.label :password_confirmation, t('form.labels.password_confirmation')
    .row
      .col-lg-6
        = f.password_field :password_confirmation, placeholder: 'Confirmación password', class: 'form-control'
  - if f.object.encrypted_password.present?
    .form-group
      = f.label :current_password, t('form.labels.current_password')
      .row
        .col-lg-6
          = f.password_field :current_password, placeholder: t('form.placeholders.current_password'), class: 'form-control bottom-field'
  .actions= f.submit t('update'), class: 'btn btn-lg btn-primary'

.l-margin-l-bottom
  %h3= t('.cancel_my_account')
  %p
    = t('.unhappy')
    = link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: "#{t('alerts.destroy_confirmation')}" }, method: :delete, class: 'btn btn-danger'

= render "users/shared/aviso_privacidad"